.section-combos{
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 2rem;
    height: 100%;
    background-color: #f29940;
    height: 100%;
    position: relative;
}

.content-title{
    color: #fff;
    font-size: 50px;
    text-shadow: 2px 2px 2px #000;
    margin-bottom: 15px;
    text-align: center;
}

.combos-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.combo-item{
    margin-left: 1.5em;
    margin-top: 2rem;
    background-color: #fff;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(3,auto);
    justify-items: center;
    gap:2rem;
    border: 1px solid #999999;
    border-radius: 5px;    
    box-shadow: 2px 2px 5px #505050;
    animation-name: rotate;
    animation-duration: 1s;
    width: 300px;
    margin-left: 2rem;
}

.combo-item:hover {
    transform: scale(1.1);
    transition: all ease 0.3s;
}


.combo-item-title{
    font-size: 30px;
}

.combo-item-cost{
    font-size: 25px;
    height: 45px;
    color: white;
    font-weight: bold;
    background-color: #ff4867;
    padding: 7px;
    border-radius: 5px;
}

.combo-item-description{
    font-size: 20px;
}

@media only screen and (max-width: 644px) {
    .combo-item{
        margin-left: 0;
    }
  }
