.section-contacto{
    display: grid;
    justify-items: center;
    background-color: #f29940;
    padding: 3rem ;
    position: relative;
}

.form-container{
    display: grid;
    gap: 2rem;
    background-color: #222222;
    padding:2rem;
    padding-top: 2rem;
    border-radius: 10px;
    animation-name: fadeIn;
    animation-duration: 3s;
    width: 600px;
}

.field-container{
    position:relative;
}

.form-title{
    padding-top: 1rem;
    color: #fff;
    font-size: 30px;
    transition: 0.2s;
}


.form-label {
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    color: #b8b8b8;
  }

.form-input{
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #505050;
    outline: 0;
    font-size: 1.5rem;
    color: #fff;
    padding: 7px 2px;
    background: transparent;

}

  .form-input::placeholder {
    color: transparent;
  }

  .form-input:focus {
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #0183f2, #003978);
    border-image-slice: 1;
  }


  .button::-moz-focus-inner{
    border: 0;
    padding: 0;
  }
  
  .button{
    display: inline-block;
    padding: 6px 20px;
    cursor: pointer;
    border: 1px solid #505050;
    text-decoration: none;
    white-space: nowrap;
    background-color: #ddd;
    background-image: linear-gradient(top, rgba(255,255,255,1), rgba(255,255,255,0));
    transition: background-color .2s ease-out;
    border-radius: 3px;
    width: 150px;
    justify-self: flex-end;
    height: 40px;
  }

  .button.blue{
    background-color: #e77a0d;
    border-color: #e77a0d;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    background-image: linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
  }

  .button .blue:hover{
    background-color: #70B9E8;
  }
  
  .button .blue:active{
    background: #269CE9;
  }


  @media only screen and (max-width: 700px) {
    .section-contacto{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .form-container{
      width: auto;
  }
  }